@{
    ViewData["Title"] = "Weather Archives";
}

<div class="text-center">
    <h2 class="display-4">Добро пожаловать</h2>
    <a class="nav-link text-dark" asp-area="" asp-controller="Weather" asp-action="Import">Загрузка</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Weather" asp-action="Index">Просмотр</a>

</div>
